{% extends 'base.html' %}
{% block content %}
<h3 class='text-center'>Your orders</h3>
<br>
<table class='table'>
<tr>
	<td class='text-center'><strong>Id</strong></td>
    <td class='text-center'><strong>Price</strong></td>
    <td class='text-center'><strong>Status</strong></td>
	<td class='text-center'></td>
</tr>
{% for item in order %}
{% if item.is_accepted == True %}
<tr>
	<td class='text-center'>{{ item.id }}</td>
    <td class='text-center'>${{ item.total }}</td>
    <td class='text-center'>{{ item.status }}</td>
	<td></td>
</tr>
{% endif %}
{% endfor %}
{% endblock content %}