{% extends 'base.html' %}
{% block content %}
    <div class="container">
      <div class="row">

          <div class="col-md-3">
              <p class="lead">{{ category.name }}</p>
              <div class="list-group">
                {% for category in categories %}
                <a href="{{category.get_url}}" class="list-group-item">{{category.name}}</a>
                {% endfor %}
            </div>
          </div>

          <div class="col-md-9">
              <div class="row">
                  {% for product in search_list %}
                  <div class="col-sm-4 col-lg-4 col-md-4">
                      <div class="thumbnail">
                          <img src='{{product.image.url}}' alt="" style="width:90%;height: 180px;">
                          <div class="caption">
                              <h4 class="pull-right">${{product.price}}</h4>
                              <h4><a href="{{product.get_url}}">{{product.title}}</a>
                              </h4>
                              <p>{{product.description}}</p>
                          </div>
                      </div>
                  </div>
                  {%endfor%}
              </div>
          </div>
      </div>
  </div>
{% endblock content %}